body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
background: rgb(255, 255, 255);
  border: 3px solid rgb(255, 255, 255);
  width: 400px;
  padding: 5px;
  margin: 300px;

}

.title {
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
}

button {
  background: white;
  border: 1px solid #ffffff;
    width: 200px;
  padding: 12px;
  margin: 18px;
}